#!/usr/bin/env bash

# In addition to this file being valid POSIX, all RHS of `=` must use single
# quotes, and must be convertible to nu and fish (also see ~/dotscripts/gen/nu
# and check ~/.aliases.nu)

# Program aliases
alias x=exit
alias clr=clear
alias y=yadm
alias td=termdown
alias bom=bombadillo
alias syscu='systemctl --user'
alias edoom='emacs --with-profile=doom'
alias g=git
alias acme='acme -f /mnt/font/FiraCode-Regular/15/font'
alias la='ls -a'
alias bat='bat --theme base16-256'
alias emacs-clean='emacs -nw -Q --eval "(load-theme '\''modus-vivendi t)"'

# Shortcuts
alias apt-up='sudo apt update && sudo apt upgrade -y && sudo apt-get dist-upgrade -y && sudo apt autoremove'
