#!/usr/bin/env bash

# Program aliases
alias x=exit
alias clr=clear
alias y=yadm
alias td=termdown
alias hdi=howdoi
alias bom=bombadillo
alias syscu='systemctl --user'
alias emacspure='emacs --with-profile=vanilla'
alias g=git
alias acme='acme -f /mnt/font/FiraCode-Regular/15/font'

# Shortcuts
alias newvenv='python3 -m virtualenv venv && source ./venv/bin/activate.fish'
alias localusrlocal='rsync ~/local/usr/local/ ~/local/ -avr && rm -rf ~/local/usr/local'
alias localusr='rsync ~/local/usr/ ~/local/ -avr && rm -rf ~/local/usr'

