#!/usr/bin/env bash

alias hdi=howdoi
alias x=exit
alias y=yadm
alias td=termdown
alias clr=clear
alias syscu='systemctl --user'
alias codespell='codespell --skip="venv,.git,*.pyc,*.png,*.PNG,*.gif",.vim'
alias bom=bombadillo
alias newvenv='python3 -m virtualenv venv && source ./venv/bin/activate.fish'
alias edoom='emacs --with-profile=doom'
alias g=git

