[core]
    editor = nv
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX

[user]
    name = hedy
    email = hedy@tilde.cafe  # email overidden in [include]
    signingkey = B51B5A8D1B176372  # and this

[init]
    # I don't want people to complain and main is shorter to type so yeah
    defaultBranch = main

[alias]
    s = status
    c = commit
    b = branch
    a = add
    ls-alias = config --get-regexp alias
    l = log --oneline
    ll = log
    ss = status -s
    ch = checkout
    chb = checkout -b
    mylog = log --pretty=format:'%C(yellow)%h %C(bold blue)%an, %C(green)%ar: %C(white)"%s"'
    lgraph = log --oneline --graph --decorate --all
    brd = branch -d
    fame = !python3 -m gitfame
    p = push
    cmam = commit -am  # rarely used; cmav and cmv are now my best friends :>
    cmav = commit -av
    cmv = commit -v
    pushall = !git remote | xargs -L1 git push --all
    # Same as pushall but not for all branches
    pall = !git remote | xargs -L1 git push
    d = diff
    ds = diff --staged

[credential]
    helper = store --file="$HOME/.git_creds"
    helper = cache --timeout 90000

[help]
    autocorrect = 30

[pull]
    rebase = false

[commit]
    gpgsign = true

# sendmail config in [include]

[include]
    path = ~/.gitconfig-local

# diff-so-fancy
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[push]
    followTags = true
